<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Heracles</title>
    <link rel="stylesheet" type="text/css" href="build/Heracles.min.css">
</head>
<body>

<!-- TODO add filter auto selector -->
<div class="container">
    <!-- Header and app info -->
    <div class="row page-one">
        <div class="col-md-12">
            <div class="row " style="margin-top:10px">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="jumbotron">
                        <h2>Heracles</h2>
                        <p class="sub-text">Heracles is the cohort analysis tool for the OMOP Common Data Model (CDM). Begin your analyses by selecting a cohort.</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

        <!-- Cohort search bar -->
        <div class="col-md-12">
            <div id="cohort-search" class="row ">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div id="cohorts-typeahead">
                        <input id="cohorts" type="text" placeholder="Search Cohorts" class="form-control large-input typeahead" />
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <!-- Cohort Explorer -->
    <div id="cohort-explorer-main" class="row" style="display:none" ng-controller="CohortExplorerCtrl">
        <div class="modal fade" id="jobStatusModal" tabindex="-1" role="dialog" aria-labelledby="jobStatusModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="jobStatusModalLabel">{{job.label}}</h4>
                    </div>
                    <div class="modal-body">
                        {{job.message}}

                        <span ng-show="job.job_link != null">
                            <br /><br />
                            <a href="{{job.job_link}}" target="_blank">Click here to view Job Status</a>
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-md-12">
            <div class="row" style="padding-top:3px"a>
                <div class="col-md-10">
                    <a id="cohort-explorer-back">&laquo;Back</a>
                </div>
                <div class="col-md-2 pull-right">
                    <a ng-click="refreshCohort()">Refresh</a>
                </div>
            </div>
            <div id="cohort-explorer-summary" class="row">
                <div class="col-md-10">
                    <div style="padding-left:5%">
                        <h3 id="cohort-name">{{cohort.COHORT_DEFINITION.COHORT_DEFINITION_NAME}}
                            <!--
                            <small ng-show="cohort.COHORT_DEFINITION.COHORT_DEFINITION_DESCRIPTION != null"
                                   data-toggle="tooltip" data-placement="bottom" title="{{cohort.COHORT_DEFINITION.COHORT_DEFINITION_DESCRIPTION}}">
                                <a class="definition">definition</a>
                            </small>
                            -->
                        </h3>
                        <div>
                            <p class="cohort-description">
                                {{cohort.COHORT_DEFINITION.COHORT_DEFINITION_DESCRIPTION}}
                            </p>
                        </div>
                        <div class="summary-grouper">
                            <div ng-show="cohort.TOTAL_PATIENTS != null || cohort.PERCENT_FEMALE != null">
                                <label style="text-decoration:underline">Summary</label>
                            </div>
                            <div ng-show="cohort.TOTAL_PATIENTS != null">
                                <label class="cohort-desc">Total Patients: </label>{{cohort.TOTAL_PATIENTS}}</div>
                            <div ng-show="cohort.MEAN_OBS_PERIOD != null">
                                <label class="cohort-desc">Mean Observation Period: </label>{{cohort.MEAN_OBS_PERIOD}}</div>
                            <div ng-show="cohort.MEAN_AGE != null">
                                <label class="cohort-desc">Mean Age: </label>{{cohort.MEAN_AGE}}</div>
                            <div ng-show="cohort.PERCENT_FEMALE != null">
                                <label class="cohort-desc">% Female: </label>{{cohort.PERCENT_FEMALE}}%</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Run Cohort Analyses</h4>
                                <div class="row">
                                    <div class="col-md-10">
                                        <span class="toggle-filter-span" filter-key="cohort-analyses">
                                             <input placeholder="Type to filter..." type="text" class="form-control auto-filter-check-list-input" style="margin-top:8px" filter-key="cohort-analyses"/>
                                             <div class="multiselect-wrapper" filter-key="cohort-analyses">
                                                 <div class="multiselect form-control" style="margin:3px;height:350px;overflow-y:auto;width:100%;" filter-key="cohort-analyses">
                                                     <div ng-repeat="(k, v) in cohort.ANALYSES_MAP">
                                                         <label class="toggle-parent-label" key="{{k}}">
                                                             <!-- <input type="checkbox" class="toggle-checkbox-parent-item" filter-key="cohort-analyses"
                                                                style="margin:4px" value="{{k}}"/>-->
                                                             {{k}}
                                                         </label>
                                                         <div ng-repeat="item in v">
                                                             <label class="toggle-child-label {{item.CLASS}}" >
                                                                 <input type="checkbox" class="toggle-checkbox-item"
                                                                        style="margin:2px" filter-key="cohort-analyses" value="{{item.ANALYSIS_NAME}}" analysis-id="{{item.ANALYSIS_ID}}" parent="{{k}}" />
                                                                 {{item.ANALYSIS_NAME}}
                                                             </label>
                                                         </div>
                                                     </div>

                                                 </div>
                                                 <span style="float:right">
                                                        <div class="btn-group btn-group-xs">
                                                            <button type="button" class="btn btn-default auto-filter-check-list-select" filter-key="cohort-analyses" >Check current</button>
                                                            <button type="button" class="btn btn-default auto-filter-check-list-clear" filter-key="cohort-analyses">Uncheck current</button>
                                                        </div>
                                                 </span>
                                             </div>
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-sm btn-heracles analyses-button" filter-key="cohort-analyses" ng-click="submitJob($event)" data-loading-text="...">Go</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="cohort-explorer-charts" class="col-md-2">
                    <div>
                        <div ng-show="cohort.AGE_DISTRIBUTION != null && cohort.AGE_DISTRIBUTION.length > 0"><h4 style="text-align:center">Age Distribution</h4></div>
                        <div id="age_dist" class="d3-wrapper" />
                    </div>
                    <div>
                        <div ng-show="cohort.GENDER_DISTRIBUTION != null && cohort.GENDER_DISTRIBUTION.length > 0"><h4 style="text-align:center">Gender Distribution</h4></div>
                        <div id="gender_dist" class="d3-wrapper"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<script src="build/Heracles.config.js" type="text/javascript"></script>
<script src="lib/requirejs/require.js" data-main="src/js/require.main"></script>

</body>

</html>