<div class="row" id="artemisHeader">
    <h1>Artemis Value Based Care Dashboard</h1>
</div>
<div class="row" id="artemisDash">
    <div class="col-xs-2 tile">
        <div class="innerTile">
            <div id="boxPlot"><h3>Average Cost PMPM</h3></div>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-3 tile">
                <div class="innerTile">
                    <div id="hist1">
                        <h3>Care Site Distribution</h3>
                        <div id="tooltip" class="hidden">
                            <p><span id="value">100</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 tile">
                <div class="innerTile">
                    <div id="hist2">
                        <h3>Top 20 Conditions</h3>
                        <div id="tooltip" class="hidden">
                            <p><span id="value">100</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 tile">
                <div class="innerTile">
                    <div id="hist3">
                        <h3>Top 20 High Cost Members</h3>
                        <div id="tooltip" class="hidden">
                            <p><span id="value">100</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
