<div class="chart-template">
    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{cohort.name}} Summary</h3>
                </div>
                <div  class="panel-body" ng-cloak="ng-clock">
                    <div><label>{{summary.sourceName}}</label></div>
                    <div><label>{{summary.numPersons}} Persons</label></div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Population by Gender</h3>
                </div>
                <div class="panel-body">
                    <div id="genderPie" class="chart-well"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Age at First Observation</h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="ageatfirstobservation" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cumulative Observation</h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="cumulativeobservation" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Persons With Continuous Observation By Month</h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="oppeoplebymonthsingle" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
