<!--Included from webjars-->
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.11.2/jquery-ui.min.css" />
	
<!--Heracles custom-->
<link rel="stylesheet" type="text/css"
	href="/css/typeahead.css" />
<link rel="stylesheet" type="text/css"
	href="/css/heracles.css" />
