#macro( autoFilterCheckList $filterKey $ngRepeat )
	<!-- This is velocity templating combined with angular data binding, so it's a bit much, but it keeps from duplicating all this code -->
	<div class="row">
		<div class="col-md-10">
			<span class="toggle-filter-span" filter-key="$filterKey">
				 <input placeholder="Type to filter..." type="text" class="form-control auto-filter-check-list-input" style="margin-top:8px" filter-key="$filterKey"/>
				 <div class="multiselect-wrapper" style="display:none;" filter-key="$filterKey">
				     <div class="multiselect form-control" style="margin:3px;height:350px;overflow-y:auto;width:100%;" filter-key="$filterKey">
				     	<div ng-repeat="$ngRepeat">
					     	<label class="toggle-parent-label" key="{{k}}">
					     		<!-- <input type="checkbox" class="toggle-checkbox-parent-item" filter-key="$filterKey"
									style="margin:4px" value="{{k}}"/>-->
								{{k}}
							</label>
							<div ng-repeat="item in v">
								<label class="toggle-child-label" >
									<input type="checkbox" class="toggle-checkbox-item"
										style="margin:2px" filter-key="$filterKey" value="{{item.name}}" id="{{item.id}}" parent="{{k}}" />{{item.name}}
								</label>  
							</div>
						</div>
				
				     </div>
				     <span style="float:right">
					        <div class="btn-group btn-group-xs">
					           <button type="button" class="btn btn-default auto-filter-check-list-select" filter-key="$filterKey" >Check current</button>
					           <button type="button" class="btn btn-default auto-filter-check-list-clear" filter-key="$filterKey">Uncheck current</button>
					        </div>
				     </span>
			     </div>
			</span>
		</div>
		<div class="col-md-2">
			<button class="btn btn-sm btn-heracles analyses-button" filter-key="$filterKey">Go</button>
		</div>
	</div>
#end

<div>
    <div class="container">
        <!-- Header and app info -->
        <div class="row page-one" style="margin-top:10px">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="jumbotron">
                    <h2>$appName</h2>
                    <p class="sub-text">$appMessage</p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <!-- Cohort search bar -->
        <div id="cohort-search" class="row page-one">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="cohorts-typeahead">
                    <input id="cohorts" type="text" placeholder="Search Cohorts" class="form-control large-input typeahead" />
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- Cohort Explorer -->
        <div id="cohort-explorer-main" class="row" style="display:none" ng-controller="CohortExplorerCtrl">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row" style="padding-top:3px"a>
                    <div class="col-md-12">
                        <a id="cohort-explorer-back">&laquo;Back</a>
                    </div>
                </div>
                <div id="cohort-explorer-summary" class="row">
                    <div class="col-md-8">
                        <div style="padding-left:5%">
                            <h3 id="cohort-name">{{cohort.name}}
								<small data-toggle="tooltip" data-placement="bottom" title="{{cohort.description}}">
									<a class="definition">definition</a>
								</small>
							</h3>
                            <div>
                                <div>
                                    <label style="text-decoration:underline">Summary</label>
                                </div>
                                <div>
                                    <label class="cohort-desc">Total Patients: </label>{{cohort.total_patients}}</div>
                                <div>
                                    <label class="cohort-desc">Mean Observation Period: </label>{{cohort.mean_obs_period}}</div>
                                <div>
                                    <label class="cohort-desc">Mean Age: </label>{{cohort.mean_age}}</div>
                                <div>
                                    <label class="cohort-desc">% Female: </label>{{cohort.gender_distribution.Female}}%</div>
                            </div>
                            <div class="row">
	                            <div class="col-md-12">
	                                <h4>View Completed Analysis Results</h4>
									#set ($filterKey = "completed-analyses")
									#set ($ngRepeat = "(k, v) in cohort.completed_cohorts")
									#autoFilterCheckList($filterKey, $ngRepeat)
								</div>
                            </div>
                            <div style="padding:15px 0px;" class="row">
                            	<div class="col-md-12">
	                                <h4>Run New Analyses</h4>
	                                #set ($filterKey = "new-analyses")
									#set ($ngRepeat = "(k, v) in cohort.new_cohorts")
									#autoFilterCheckList($filterKey, $ngRepeat)
								</div>
                            </div>
                            
                        </div>
                    </div>
                    <div id="cohort-explorer-charts" class="col-md-4">
						<div>
							<div><h4 style="text-align:center">Age Distribution</h4></div>
							<div id="age_dist" class="d3-wrapper" />
						</div>
						<div>
							<div><h4 style="text-align:center">Gender Distribution</h4></div>
							<div id="gender_dist" class="d3-wrapper"/>
						</div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>